@import "~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss";

.app {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url("./assets/banner.gif");
  .logoContainer {
    .image {
      width: 90px;
      margin-top: 5px;
      margin-left: 50px;
      vertical-align: middle;
    }
    .image:hover {
      cursor: pointer;
    }
    .imgtext {
      color: #dcdcdc;
      margin-left: 50px;
      margin-top: 0;
      margin-bottom: 10px;
      vertical-align: middle;
      // Animation
      animation: text 6s steps(30) infinite;
      overflow: hidden;
      white-space: nowrap;
      font-family: consolas;
      width: 0ch;
    }
    @keyframes text {
      0% {
        width: 0ch;
      }
      50% {
        width: 30ch;
      }
      100% {
        width: 0ch;
      }
    }
  }
  .navArea {
    list-style: none;
    display: flex;
    a {
      text-decoration: none;
      font-size: 18px;
      letter-spacing: 1px;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
      display: block;
      padding: 5px 1em;
      margin-right: 50px;
      color: white;
    }
    a:hover {
      background: #022154;
      border-radius: 20px;
    }
  }
}

.bottom1 {
  height: 46px;
  display: flex;
  justify-content: space-between;
  background-color: #010a19;
  align-items: center;
  h3 {
    font-family: Trebuchet MS, Lucida Sans Unicode, Lucida Grande, Lucida Sans,
      Arial, sans-serif;
    color: #dcdcdc;
  }
  .socialcontainer {
    list-style: none;
    display: flex;
    margin: 0;
    height: inherit;
    li {
      position: relative;
      width: 70px;
      a{
        display: block;
        text-decoration: none;
        color: black;
        margin-right: 20px;
        width: 35px;
        height: 35px;
        position: absolute;
        top: 3px;
      }
      .facebook {
        background: url("./assets/fblogodark.png");
        background-repeat: round;
      }
      .facebook:hover {
        background: url("./assets/fblogoblue.png");
        background-repeat: round;
        width: 46px;
        height: 46px;
        top: 0px;
        left: -5px;
      }
      
      .twitter {
        background: url("./assets/twitterdark.png");
        background-repeat: round;
      }
      .twitter:hover {
        background: url("./assets/twitter.png");
        background-repeat: round;
        width: 46px;
        height: 46px;
        top: 0px;
        left: -5px;
      }
      .insta {
        background: url("./assets/instadark.png");
        background-repeat: round;
      }
      .insta:hover {
        background: url("./assets/insta.png");
        background-repeat: round;
        width: 46px;
        height: 46px;
        top: 0px;
        left: -5px;
      }
      
    }
  }
}

// .app {
//   box-sizing: border-box;
//   margin: 0;
//   padding: 0;
//   background: url("./assets/banner.gif");
//   height: 70px;
//   .appContainer {
//     width: 100%;
//   }
//   .logoContainer {
//     width: 100%;
//   }
//   .image {
//     width: 90px;
//     margin: 0 auto;
//     vertical-align: top;
//   }
//   .imgtext {
//     text-align: center;
//     margin: 0;
//     color: #dcdcdc;
//     display: inline-block;
//     font-size: 1.5em;
//     margin-block-start: 0.83em;
//     margin-block-end: 0.83em;
//     margin-inline-start: 0px;
//     margin-inline-end: 0px;
//     font-weight: 500;
//   }
// }
